<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">
    <button class="btn btn-primary" type="submit" (click)="dashboard()">
      <i class="fa fa-angle-left"></i>
    </button> Refer</h2>
  <table class="display id_table_listuser">
    <thead>
      <tr>
        <th>#</th>
        <th>First</th>
        <th>Last</th>
        <th>Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
