
<div class="container text-center mt-5">
  <div class="row">
    <div class="col-sm-8">
      <!-- Column -->
      <img src="assets/image/image-login.png" class="img-fluid">
      <!-- <br />
      <button type="submit" class="btn btn-sm btn-success" style="margin-right: 2px;">
        ลงทะเบียนผู้ใช้งานใหม่
      </button>
      <button type="submit" class="btn btn-sm btn-danger">
        ลืมรหัสผ่าน?
      </button> -->
    </div>
    <div class="col-sm-4">
      <form >
        <img src="assets/image/logo.png" class="img-fluid" style="width: 200px;">
        <div class="row mb-3">
          <div class="col-sm-12 form-floating">
            <input type="text" class="form-control" [(ngModel)]="loginModel.username" name="username">
            <label for="floatingInput">ชื่อผู้ใช้(Username)</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-12 form-floating">
            <input type="password" class="form-control" [(ngModel)]="loginModel.password" name="password">
            <label for="floatingInput">รหัสผ่าน(Password)</label>
          </div>
        </div>
        <button type="submit" class="btn btn-lg btn-primary" (click)="doLogin()" [disabled]="loading">
          <i class="fa fa-unlock" *ngIf="!loading"></i>
          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          Sign in
        </button>
      </form>
      <hr>
      <p class="h6 fw-light">R9@Refer® version 2.0.0</p>
      <br />
      <!-- <a href="#" class="link-danger">ลืมรหัสผ่าน?</a> -->

    </div>
  </div>
  <!-- <marquee direction="right">ข้อความวิ่งจากซ้ายไปขวา</marquee> -->
</div>

