<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">
    <button class="btn btn-primary" type="submit" (click)="dashboard()">
      <i class="fa fa-home"></i>
    </button>  ลงทะเบียนผู้ใช้งานใหม่
  </h2>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <b><u>ข้อมูลบัญชี</u></b>
          </h5>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label">ชื่อผู้ใช้(Username) <span class="text-danger">**</span></label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label">รหัสผ่าน(Password) <span class="text-danger">**</span></label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> ยืนยันรหัสผ่าน(Password) <span class="text-danger">**</span></label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> รูปภาพ(ถ้ามี)</label>
            <div class="col-sm-8">
              <input type="file" class="form-control" id="inputPassword">
              <div class="text-center mt-2">
                <img src="assets/image/image-login.png" class="img-thumbnail rounded" style="width: 200px;">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">
            <b><u>ข้อมูลส่วนตัว</u></b>
          </h5>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label">รหัสประชาชน <span class="text-danger">**</span></label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label">สถานบริการ <span class="text-danger">**</span></label>
            <div class="col-sm-8">
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> คำนำหน้า ชื่อ นามสกุล <span class="text-danger">**</span></label>
            <div class="col-sm-2">
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-sm-3">
              <input type="password" class="form-control" id="inputPassword">
            </div>
            <div class="col-sm-3">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> วัน เดือน ปีเกิด <span class="text-danger">**</span></label>
            <div class="col-sm-2">
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> เพศ <span class="text-danger">**</span></label>
            <div class="col-sm-8">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  ชาย
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  หญิง
                </label>
              </div>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> ตำแหน่ง</label>
            <div class="col-sm-8">
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> Email <span class="text-danger">**</span></label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> เบอร์โทรศัพท์มือถือ <span class="text-danger">**</span></label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> Line Token ส่วนตัว(ถ้ามี)</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="inputPassword">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> สถานะการใข้งาน</label>
            <div class="col-sm-8">
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-4 col-form-label"> สิทธิ์ผู้ใช้งาน</label>
            <div class="col-sm-8">
              <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <button type="button" class="btn btn-outline-success btn-lg" style="margin-right: 2px;">ยืนยันลงทะเบียน</button>
<button type="button" class="btn btn-secondary btn-lg">ยกเลิก</button>
        </div>
      </div>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>

