<div class="container px-4 py-5" id="featured-3">
  <h2 class="pb-2 border-bottom">เมนูตั้งค่าระบบ</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
    <div class="feature col" *ngFor="let item of [1,2,3,4,5,6,7]">

      <div class="card text-center btn-outline-success">
        <i class="fa fa-address-book-o fa-5x mt-2"></i>
        <div class="card-body">
          <!-- <h5 class="card-title">Refer In</h5> -->
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a role="button" (click)="sendPage('setting/listuser')" class="btn btn-outline-info">รายชื่อบัญชีผู้ใช้</a>
        </div>
      </div>

    </div>
  </div>
</div>
